<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsveypjcIxjrCgitDV88Pv1ZGm9NM_nTk</string>
	<key>GCM_SENDER_ID</key>
	<string>623609718768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sistemaFinanceiro</string>
	<key>PROJECT_ID</key>
	<string>sistema-financeiro-3d9ee</string>
	<key>STORAGE_BUCKET</key>
	<string>sistema-financeiro-3d9ee.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623609718768:ios:b5967d2ad3232e81e81f35</string>
</dict>
</plist>